@CHARSET "UTF-8";

.peca {
	width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 40px;
}

.peca-preta {
	background: rgb(96,108,136); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(96,108,136,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.peca-branca {
	background: rgb(242,243,246); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(242,243,246,1) 0%, rgba(237,240,245,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(242,243,246,1)), color-stop(100%,rgba(237,240,245,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(242,243,246,1) 0%,rgba(237,240,245,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(242,243,246,1) 0%,rgba(237,240,245,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(242,243,246,1) 0%,rgba(237,240,245,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(242,243,246,1) 0%,rgba(237,240,245,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f6', endColorstr='#edf0f5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.tabuleiro {
	position: relative;
	top: 10%;
	left: 50%;
	margin-left: -250px;
	width: 400px;
	height: 400px;
}

.casa {
	cursor: pointer;
	background: #DBFFC3;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
}

.menu {
	display: none;
	float: left;
	width: 100px;
	margin: 10px;
}

.player-selector {
	cursor: pointer;
	border-radius: 5px;
	margin: 5px;
	border: 1px solid;
	width: 30px;
	height: 30px;
}
